@font-face {
  font-family: "yekan";
  src: url("/src/assets/fonts/Yekan.eot");
  /* IE9 Compat Modes */
  src: url("/src/assets/fonts/Yekan.eot?#iefix") format("embedded-opentype"), url("/src/assets/fonts/Yekan.woff2") format("woff2"), url("/src/assets/fonts/Yekan.woff") format("woff"), url("/src/assets/fonts/Yekan.ttf") format("truetype");
  /* Safari, Android, iOS */
  font-weight: "normal";
  font-style: "normal";
  text-rendering: optimizeLegibility;
  font-display: auto;
}

.img-responsive {
  display: block;
  width: 100%;
  height: auto;
  border-radius: inherit;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.mt-1 {
  margin-top: 100px;
}

* {
  direction: rtl;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  font-family: "yekan";
  font-weight: "normal";
  width: 100vw;
  overflow-x: hidden;
}

ul,
ol,
li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input {
  outline: none;
}

body {
  background-color: #faf3ff;
  color: #282828;
}

#top-menu .navbar {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: "no-wrap";
      flex-wrap: "no-wrap";
}

#top-menu .navbar .main-nav {
  -webkit-box-flex: 60%;
      -ms-flex: 60%;
          flex: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: "no-wrap";
      flex-wrap: "no-wrap";
}

#top-menu .navbar .main-nav li {
  margin: 0 0 0 20px;
}

#top-menu .navbar .main-nav li a {
  position: relative;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

#top-menu .navbar .main-nav li a::before {
  content: '';
  position: absolute;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: #594A93;
  -webkit-transition: width 0.5s ease;
  transition: width 0.5s ease;
}

#top-menu .navbar .main-nav li a:hover {
  color: #594A93;
}

#top-menu .navbar .main-nav li a:hover::before {
  width: 100%;
}

#top-menu .navbar .social-nav {
  -webkit-box-flex: 40%;
      -ms-flex: 40%;
          flex: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: "no-wrap";
      flex-wrap: "no-wrap";
}

#top-menu .navbar .social-nav li {
  margin: 0 10px 0 0;
}

#top-menu .navbar .social-nav li a {
  padding: 2px;
  -webkit-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

#top-menu .navbar .social-nav li a:hover {
  color: #594A93;
}

#hero div.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#hero div.row .right-side {
  -webkit-box-flex: 45%;
      -ms-flex: 45%;
          flex: 45%;
  width: 45%;
  position: relative;
}

#hero div.row .right-side .gear-1 {
  position: absolute;
  top: 50%;
  right: 5%;
  font-size: 32px;
  color: #594A93;
  -webkit-animation: gear-1 10s infinite linear;
          animation: gear-1 10s infinite linear;
}

@-webkit-keyframes gear-1 {
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes gear-1 {
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

#hero div.row .right-side .gear-2 {
  position: absolute;
  top: 50%;
  right: 2%;
  font-size: 19.2px;
  color: #00C89F;
  -webkit-animation: gear-2 10s infinite linear;
          animation: gear-2 10s infinite linear;
}

@-webkit-keyframes gear-2 {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes gear-2 {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

#hero div.row .right-side .star-1 {
  position: absolute;
  bottom: 30%;
  left: 10%;
  font-size: 24px;
  color: #594A93;
  -webkit-animation: star-1 10s infinite linear;
          animation: star-1 10s infinite linear;
}

@-webkit-keyframes star-1 {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes star-1 {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

#hero div.row .right-side .star-2 {
  position: absolute;
  right: 20%;
  bottom: 20%;
  font-size: 35.2px;
  color: #00C89F;
  -webkit-animation: star-2 12s infinite linear;
          animation: star-2 12s infinite linear;
}

@-webkit-keyframes star-2 {
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes star-2 {
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

#hero div.row .left-side {
  -webkit-box-flex: 45%;
      -ms-flex: 45%;
          flex: 45%;
  width: 45%;
}

#hero div.row .left-side h1 {
  font-size: 32px;
}

#hero div.row .left-side p {
  font-size: 19.2px;
  margin: 20px 0 0 0;
  line-height: 1.6;
}

#courses {
  position: relative;
}

#courses .pipe {
  position: absolute;
  top: 50px;
  left: -180px;
  height: 300px;
  width: 1400px;
  background-color: #00C89F;
  opacity: .2;
  border-radius: 0 200px 200px 0;
  z-index: -10;
}

#courses .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#courses .cards .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  margin: 0 20px;
  background-color: #594A93;
  color: #ebebeb;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#courses .cards .card .course-img-wrapper {
  width: 100%;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  background-color: #594A93;
  padding: 2px;
}

#courses .cards .card .course-img-wrapper .status {
  font-size: 12px;
  background-color: #594A93;
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 2px 5px;
  border-radius: 10px;
}

#courses .cards .card .desc {
  padding: 10px;
}

#courses .cards .card .desc .title {
  padding: 0 0 5px 0;
  border-bottom: 1px solid #faf3ff;
}

#courses .cards .card .desc .meta {
  padding: 10px 0 0 0;
  text-align: left;
  font-size: 12px;
}

#courses .cards .card .desc .meta i {
  margin: 0 5px;
}

#courses .cards .card .teacher {
  position: absolute;
  top: -15px;
  right: 10px;
  width: 50px;
  color: #282828;
  font-size: 12px;
  z-index: -2;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

#courses .cards .card .teacher .teacher-name {
  position: absolute;
  width: 0;
  -webkit-transform: translate(0, -35px);
          transform: translate(0, -35px);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  white-space: nowrap;
}

#courses .cards .card:hover {
  -webkit-box-shadow: 5px 10px 10px #333a;
          box-shadow: 5px 10px 10px #333a;
  -webkit-transform: translate(-5px, -10px);
          transform: translate(-5px, -10px);
}

#courses .cards .card:hover .teacher {
  top: -40px;
}

#courses .cards .card:hover .teacher .teacher-name {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -webkit-transform: translate(-55px, -35px);
          transform: translate(-55px, -35px);
}

#path .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#path .row .img-side {
  -ms-flex-preferred-size: 47.5%;
      flex-basis: 47.5%;
  width: 47.5%;
}

#path .row .desc-side {
  -ms-flex-preferred-size: 47.5%;
      flex-basis: 47.5%;
  width: 47.5%;
  color: #282828;
}

#path .row .desc-side h3 {
  margin: 10px 0;
}

#path .row .desc-side p {
  line-height: 1.6;
}
/*# sourceMappingURL=style.css.map */