@mixin flex($pos-x: center, $pos-y: center, $dir: row, $wrap: 'no-wrap') {
    display: flex;
    justify-content: $pos-x;
    align-items: $pos-y;
    flex-direction: $dir;
    flex-wrap: $wrap;
}

@mixin transition($prop: all, $time: 1s, $func: ease) {
    transition: $prop $time $func;
}

@mixin margin-padding($t, $r, $b, $l, $margin: true) {
    @if ($margin) {
        margin: $t $r $b $l;
    }

    @else {
        padding: $t $r $b $l;
    }
}

@mixin position-abs($t:null,$r:null,$b:null,$l:null) {
    position: absolute;
    top: $t;
    right: $r;
    bottom: $b;
    left: $l;
}