.img-responsive {
    display: block;
    width: 100%;
    height: auto;
    border-radius: inherit;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    width: 100%;
    @include flex(null, null, row, wrap);
}

.mt-1 {
    margin-top: 100px;
}