// fonts
$font-path: 'src/assets/fonts';
$font-family: "yekan";
$font-style: "normal";
$font-weight: "normal";
$font-size: 16px;

// images
$img-path: "/src/assets/images";

// colors
$primary-color: #594A93;
$primary-color-dark: #3d3365;
$secondary-color: #00C89F;
$bg-color: #faf3ff;
$text-black: rgb(40, 40, 40);
$text-white: rgb(235, 235, 235);
$text-fade: rgba(252, 252, 252, 0.6);