// fonts
$font-path: "/src/assets/fonts";
$font-family: "yekan";
$font-style: "normal";

// images
$img-path: "/src/assets/images";

// colors
$primary-color: #594A93;
$secondary-color: #00C89F;
$bg-color: #F7EBFF;