// importing modules
@import "variables";
@import "mixins";
@import "font";
@import "utilities";
@import "reset";

// public style
body {
    background-color: $bg-color;
    color: $text-black;
}

// Top Menu
#top-menu {
    .navbar {
        height: 50px;
        // background-color: #002;
        @include flex(space-between, center);

        .main-nav {
            flex: 60%;
            @include flex(start);

            li {
                margin: 0 0 0 20px;

                a {
                    // background-color: #555;
                    position: relative;

                    &::before {
                        content: '';
                        position: absolute;
                        bottom: -2px;
                        width: 0;
                        height: 2px;
                        background-color: $primary-color;
                        @include transition(width, .5s);
                    }

                    @include transition(color, .3s);

                    &:hover {
                        color: $primary-color;

                        &::before {
                            width: 100%;
                        }
                    }
                }
            }
        }

        .social-nav {
            flex: 40%;
            @include flex(end);

            li {
                margin: 0 10px 0 0;

                a {
                    padding: 2px;

                    @include transition(color, .2s);

                    &:hover {
                        color: $primary-color;
                    }
                }
            }
        }
    }
}

// header

#hero {
    div.row {
        @include flex(space-between, center, null, null);

        .right-side {
            flex: 45%;
            width: 45%;
            position: relative;

            .gear-1 {
                @include position-abs(50%, 5%);
                font-size: $font-size * 2;
                color: $primary-color;
                animation: gear-1 10s infinite linear;
            }

            @keyframes gear-1 {
                100% {
                    transform: rotate(-360deg)
                }
            }

            .gear-2 {
                @include position-abs(50%, 2%);
                font-size: $font-size * 1.2;
                color: $secondary-color;
                animation: gear-2 10s infinite linear;
            }

            @keyframes gear-2 {
                100% {
                    transform: rotate(360deg)
                }
            }

            .star-1 {
                @include position-abs(null, null, 30%, 10%);
                font-size: $font-size * 1.5;
                color: $primary-color;
                animation: star-1 10s infinite linear;
            }

            @keyframes star-1 {
                100% {
                    transform: rotate(360deg)
                }
            }

            .star-2 {
                @include position-abs(null, 20%, 20%, null);
                font-size: $font-size * 2.2;
                color: $secondary-color;
                animation: star-2 12s infinite linear;
            }

            @keyframes star-2 {
                100% {
                    transform: rotate(-360deg)
                }
            }
        }

        .left-side {
            flex: 45%;
            width: 45%;

            h1 {
                font: {
                    size: $font-size * 2;
                }
            }

            p {
                font: {
                    size: $font-size * 1.2;
                }

                margin: 20px 0 0 0;
                line-height: 1.6;
            }
        }
    }
}

// courses

#courses {
    position: relative;

    .pipe {
        @include position-abs(50px, null, null, -180px);
        height: 300px;
        width: 1400px;
        background-color: $primary-color;
        opacity: .3;
        border-radius: 0 200px 200px 0;
        z-index: -10;
    }

    .cards {
        @include flex(center, center, null, null);

        .card {
            @include flex(null, null, column, no-wrap);
            flex-basis: 25%;
            margin: 0 20px;
            background-color: $primary-color;
            color: $text-white;
            border-radius: 10px;
            cursor: pointer;
            position: relative;
            @include transition(all, .3s, ease);

            .course-img-wrapper {
                width: 100%;
                border-radius: 10px 10px 0 0;
                overflow: hidden;
                background-color: $primary-color;
                padding: 2px;

                .status {
                    font: {
                        size: 12px;
                    }

                    background-color: $primary-color;
                    @include position-abs(10px, null, null, 10px);
                    padding: 2px 5px;
                    border-radius: 10px;
                }
            }

            .desc {
                padding: 10px;

                .title {
                    padding: 0 0 5px 0;
                    border-bottom: 1px solid $bg-color;
                }

                .meta {
                    padding: 10px 0 0 0;
                    text-align: left;

                    font: {
                        size: 12px;
                    }

                    i {
                        margin: 0 5px;
                    }
                }
            }

            .teacher {
                @include position-abs(-15px, 10px, null, null);
                width: 50px;
                color: $text-black;

                font: {
                    size: 12px;
                }

                z-index: -2;
                @include transition(all, .4s, ease);

                .teacher-name {
                    @include position-abs();
                    width: 0;
                    transform: translate(0, -35px);
                    @include transition(all, .4s, ease);
                    white-space: nowrap;
                }
            }

            &:hover {
                box-shadow: 5px 10px 10px #333a;
                transform: translate(-5px, -10px);

                .teacher {
                    top: -40px;

                    .teacher-name {
                        width: max-content;
                        transform: translate(-55px, -35px);
                    }
                }
            }
        }
    }
}

// study path

#path {
    .row {
        @include flex(space-between, center, row, null);

        .img-side {
            flex-basis: 47.5%;
            width: 47.5%;
        }

        .desc-side {
            flex-basis: 47.5%;
            width: 47.5%;
            color: $text-black;

            h3 {
                margin: 10px 0;
            }

            p {
                line-height: 1.6;
            }
        }
    }
}

// topics 

#topics {
    h3 {
        padding: 0 20px;
        border-right: 4px solid $secondary-color;
        margin: 20px 0;
    }

    .topic {
        justify-content: space-between;
        margin: 10px 0;

        .card {
            @include flex();
            flex-basis: 49.5%;
            width: 49.5%;
            background-color: $primary-color;
            color: $text-white;
            cursor: pointer;
            border-radius: 10px;
            overflow: hidden;
            position: relative;
            box-shadow: 1px 1px 5px #333a;

            .img-wrapper {
                flex-basis: 30%;
                width: 30%;
                border-radius: 10px;
                filter: grayscale(1);
                @include transition(filter, .3s);

                img {
                    object-fit: cover;
                }
            }

            &:hover {
                .img-wrapper {
                    filter: grayscale(0);
                }
            }

            .desc {
                flex-basis: 70%;
                width: 70%;
                padding: 0 20px;

                &::before {
                    content: '';
                    @include position-abs(0, 160px, 0, 0);
                    transform: skewX(-5deg);
                    height: 100%;
                    width: 25px;
                    background-color: $primary-color;
                }

                .title {
                    @include transition(color, .3s);

                    font: {
                        size: $font-size - 2px;
                    }

                    &:hover {
                        color: $secondary-color;
                    }
                }

                .details {
                    padding: 5px;

                    .meta {
                        font: {
                            size: $font-size - 6px;
                        }

                        i {
                            margin: 0 0 0 5px;
                        }
                    }

                    .summary {
                        color: $text-fade;
                        padding: 5px 0;

                        font: {
                            size: $font-size - 4px;
                        }
                    }
                }
            }
        }
    }
}

// footer 

#footer {
    background-color: $primary-color;
    color: $text-white;
    padding: 50px 0 0;

    .row {
        justify-content: space-around;

        #contact-us {
            flex-basis: 30%;
            width: 30%;

            h4 {
                margin: 0 0 10px 0;
            }

            ul {
                font: {
                    size: $font-size - 2px;
                }

                li {
                    @include flex(null, center);
                    padding: 10px 0;

                    i {
                        margin: 0 0 0 10px;
                    }
                }
            }
        }

        #footer-links {
            flex-basis: 30%;
            width: 30%;

            ul {
                li {
                    a {
                        transition: color .2s, padding .2s;
                        position: relative;

                        &::before {
                            content: '';
                            width: 5px;
                            height: 5px;
                            background-color: $secondary-color;
                            border-radius: 100%;
                            @include position-abs(10px, -15px);
                        }

                        &:hover {
                            color: $secondary-color;
                            padding: 0 10px 0 0;
                        }

                    }

                }

                li:not(:first-child) {
                    padding: 10px 0;
                }
            }
        }

        #cta {
            @include flex(center, center, column, null);
            flex-basis: 30%;
            width: 30%;

            font: {
                size: $font-size + 4px;
            }

            .cta {
                margin: 20px 0;
                width: 100%;
                position: relative;

                input[type=email] {
                    width: 100%;
                    padding: 5px 10px;
                    direction: ltr;
                    border: 3px solid white;
                }

                input[type=email]:invalid {
                    ~button {
                        cursor: not-allowed;
                        filter: grayscale(.75);
                    }
                }

                button {
                    @include position-abs(0, 0, 0);
                    padding: 0 10px;
                    background-color: $secondary-color;
                    border: none;
                    color: $text-white;
                    cursor: pointer;
                }
            }
        }
    }

    .copyright {
        text: {
            align: center;
        }

        margin: 20px 0 0;
        padding: 20px 0;
        background-color: $primary-color-dark;
    }
}